<div class="text-layout">
  <h1>{{ nombre | titlecase}}</h1>
  <h1>{{ valor | number}}</h1>
  <h1>{{ obj | json}}</h1>
</div>

<button pButton (click)="mostrarNombre()" class="p-button-help" label="Mostrar nombre" icon="pi pi-check"
  iconPos="right"></button>
<hr>
<p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">
    <img alt="Card" src="/assets/images/usercard.png">
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>
